// Important! In OpenSCAD we are looking from top down 
//  In RUI looking from front, re-assigned here: x=>x, y<==>z
//  dimensions are in mm
//  2023-2-20 experimental
// added f_9_kidney_rotated.stl
// added f_8_ovalry_l_penn
// added f_7_ovalry_l

//
//  revised 2023-1-5 OK
// f_0_kidney_l 
//  X=65.53
//  ymin = -31.17
//  ymax = 31.1
//  Y = 62.27
//  Z = 133.68

//  revised 2023-1-5 OK
// f_1_kidney_r
//  x = 63.04
//  ymin = -28.79
//  ymax = 28.76
//  yreal = 57.57
//  z = 110.24

//  revised 2023-1-6 OK
// f_2_spleen
//  x=75.86
//  ymin = -25.4
//  ymax = 25.43
//  yreal = 50.8
//  z = 116.79

//  revised 2023-1-6--sample blocks create errors in OpenSCAD
// f_3_pancreas
//  x = 61.39
//  ymin = -28.1
//  ymax = 27.89
//  yreal = 56.21
//  z = 181.17

//  revised 2023-1-6
// f_4_banana (full)
//  x = 60.68
//  ymin = -16.42
//  ymax = 16.42
//  yreal = 32.85
//  z = 178.5

// f_5_vbpancreas (identical to m_5_vbpancreas)  OK
//  x = 49.6
//  ymin = -24.71
//  ymax = 24.71
//  yreal = 49.42
//  z = 178.68

// f_6_ovary_l (added for test 2023-1-11)
//  x = 9.59
//  ymin = -3.99
//  ymax = 3.67
//  yreal = 7.97
//  z = 25.41

// f_7_ovalry_l (added for test 2023-2-16)
//  x = 20.02
//  ymin = -10.06
//  ymax = 10.06
//  yreal = 20.12
//  z = 30.05

// f_8_ovalry_l_penn (added for test 2023-2-20)
//  x = 30.01
//  ymin = -10.06
//  ymax = 10.06
//  yreal = 20.12
//  z = 60.01

// f_9_kidney_round (added for test 2023-2-26)
//  x = 64.93
//  ymin = -32.21
//  ymax = 32.21
//  yreal = 64.42
//  z = 133.3


// female organ list, dimensions are rounded up
// main file name, x, z, ymin, ymax, yreal
organ_list_f = [
    ["f_0_kidney_l.stl",65.53,133.68,-31.17,31.1,62.27],
    ["f_1_kidney_r.stl",63,111,-29,29,58],
    ["f_2_spleen.stl",75.86,116.79,-25.4,25.43,50.8],
    ["f_3_pancreas.stl",61.39,181.17,-28.1,27.89,56.21],
    ["f_4_banana.stl",60.68,178.5,-16.42,16.42,49.42],
    ["f_5_vbpancreas.stl",49.6,178.68,-24.71,24.71,49.42],
    ["f_6_ovary_l.stl",9.59,25.41,-3.99,3.67,7.97], 
    ["f_7_ovalry_l.stl",20.02,30.05,-10.06,10.06,20.12],
    ["f_8_ovalry_l_penn.stl",30.01,60.01,-10.06,10.06,20.12],
    ["f_9_kidney_rotated.stl",64.93,133.3,-32.21,32.21,64.42],
    ["f_10_kidney_x.stl",65.24,133.49,-31.73,31.73,63.46]
];

//  revised 2023-1-4 OK
// m_0_kidney_l
//  x = 72.01
//  ymin = -24.31
//  ymax = 24.25
//  yreal = 48.56
//  z = 121.81

//  revised 2023-1-4 OK
// m_1_kidney_r
//  x = 68.41
//  ymin = -21.88
//  ymax = 21.89
//  yreal = 43.77
//  z = 124.67

//  revised 2023-1-4  OK
// m_2_spleen
//  x = 83.52
//  ymin = -31.7
//  ymax = 31.72
//  yreal = 63.43
//  z = 140.02

//  revised 2023-1-5--sample blocks create errors in OpenSCAD
// m_3_pancreas
//  x = 57.51
//  ymin = -19.27
//  ymax = 19.29
//  yreal = 38.56
//  z = 135.56

//  revised 2023-1-4  OK
// m_4_banana (half)
//  x = 60.68
//  ymin = -16.42
//  ymax = 16.42
//  yreal = 32.85
//  z = 96.64

// m_5_vbpancreas (identical to f_5_vbpancreas)  OK
//  x = 49.6
//  ymin = -24.71
//  ymax = 24.71
//  yreal = 49.42
//  z = 178.68

// these measurements determine the size of the bounding box from which the blocks are cut
// male organ list
organ_list_m = [
    ["m_0_kidney_l.stl",72.01,121.81,-24.31,24.25,48.56],  
    ["m_1_kidney_r.stl",68.41,124.67,-21.88,21.89,43.77],
    ["m_2_spleen.stl",83.52,140.02,-31.7,31.72,63.43],
    ["m_3_pancreas.stl",57.51,135.56,-19.27,19.29,38.56],
    ["m_4_banana.stl",60.68,96.64,-16.42,16.42,32.85],
    ["m_5_vbpancreas.stl",49.6,178.68,-24.71,24.71,49.42]
];