// Important! In OpenSCAD we are looking from top down 
//  In RUI looking from front, re-assigned here: x=>x, y<==>z
//  2022-12-29   moved to active github
//
// f_0_kidney_l 
//  X=65.528
//  ymin = -31.167
//  ymax = 31.1
//  Y = 62.67
//  Z = 133.681

// f_1_kidney_r
//  x = 63.03
//  ymin = -28.79
//  ymax = 28.76
//  yreal = 57.57
//  z = 110.24

// f_2_spleen
//  x=75.86
//  ymin = -25.4
//  ymax = 25.43
//  yreal = 50.8
//  z = 116.79

// f_3_pancreas
//  x = 61.39
//  ymin = -28.1
//  ymax = 27.89
//  yreal = 56.21
//  z = 181.17

// f_4_banana (full)
//  x = 105.723
//  ymin = -23.312
//  ymax = 23.312
//  yreal = 46.624
//  z = 199.26

// f_5_vbpancreas
//  x = 49.6
//  ymin = -24.71
//  ymax = 24.71
//  yreal = 49.42
//  z = 178.68


// female organ list, dimensions are rounded up
organ_list_f = [
    ["f_0_kidney_l.stl",66,134,-32,32,64],
    ["f_1_kidney_r.stl",63,111,-29,29,58],
    ["f_2_spleen.stl",76,117,-26,26,52],
    ["f_3_pancreas.stl",62,182,-28,28,56],
    ["f_4_banana.stl",106,200,-24,24,48],
    ["f_5_vbpancreas.stl",50,179,-25,25,50]
];


// m_0_kidney_l
//  x = 72
//  ymin = -24.31
//  ymax = 24.25
//  yreal = 48.56
//  z = 121.81

// m_1_kidney_r
//  x = 68.4
//  ymin = -21.88
//  ymax = 21.89
//  yreal = 43.76
//  z = 124.67

// m_2_spleen
//  x = 83.52
//  ymin = -31.7
//  ymax = 31.72
//  yreal = 63.41
//  z = 140.02

// m_3_pancreas
//  x = 57.51
//  ymin = -19.27
//  ymax = 19.29
//  yreal = 38.56
//  z = 135.56

// m_4_banana (half)
//  x = 55.1
//  ymin = -22.55
//  ymax = 22.55
//  yreal = 45.09
//  z = 146.07

// m_5_vbpancreas (identical to f_5_vbpancreas)
//  x = 49.6
//  ymin = -24.71
//  ymax = 24.71
//  yreal = 49.42
//  z = 178.68

// male organ list, dimensions are rounded up
organ_list_m = [
    ["m_0_kidney_l.stl",72,122,-25,25,50],  
    ["m_1_kidney_r.stl",69,125,-22,22,44],
    ["m_2_spleen.stl",84,140,-32,32,64],
    ["m_3_pancreas.stl",58,136,-20,20,40],
    ["m_4_banana.stl",56,147,-23,23,46],
    ["m_5_vbpancreas.stl",50,179,-25,25,50]
];